build/
coverage/
!dist-*/*
!dist/*
**/xscripts.*
docker/
.editorconfig
.gitlab-ci.yml
jest.config.js
jsdoc.json
mark
**/__tests__/
*.tgz
trash/
tsconfig.json
tslint.*
.eslintrc*.js
typedoc.js
.vscode/
